@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700;900&family=Raleway:wght@100;300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffeaed;
}

input[type="text"] {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.logo-div {
  justify-content: center;
  display: flex;
}

.logo {
  width: 300px;
  padding-bottom: 145px;
}

.box {
  height: 30px;
  margin-left: 20px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background-color: white;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.box:hover input {
  width: 400px;
}

.box input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}

.box a .fa-solid {
  color: #e363aa;
  font-size: 24px;
}

nav {
  background-color: #ffeaed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  padding: 0 0 0 0;
  margin: 0 auto 0 auto;
}

nav .nav-items {
  display: flex;
  justify-content: center;
  flex: 1;
  padding-top: 30px;
  padding-bottom: 30px;
} 
nav .nav-items li {
  margin: auto 10px auto 10px;
  list-style: none;
  padding: 0 15px;
  font-size: larger;
  font-family: "Raleway", sans-serif;
}
nav .nav-items li a {
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover {
  color: #e363aa;
  font-weight: 700;
}
nav form {
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18% !important;
  border-radius: 2px;
  border: 1px solid rgba(155, 155, 155, 0.2);
}

nav form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: black;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: #fff;
}

nav form button {
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover {
  background: #e63600;
}
nav .menu-icon,
nav .cancel-icon {
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon {
  display: none;
}
@media (max-width: 1245px) {
  nav {
    padding: 0 50px;
  }
}
@media (max-width: 1140px) {
  nav {
    padding: 0px;
  }
  nav .logo {
    flex: 2;
    text-align: center;
  }
  nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 90px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #ffeaed;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active {
    left: -50px;
  }
  nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a {
    font-size: 20px;
  }
  nav form {
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active {
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before {
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after {
    position: absolute;
    content: "";
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon {
    display: block;
  }
  nav .menu-icon span {
    display: block;
  }
  nav .menu-icon span.hide {
    display: none;
  }
  nav .cancel-icon.show {
    display: block;
  }
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header {
  font-size: 30px;
  font-weight: 700;
}
.content .text {
  font-size: 30px;
  font-weight: 700;
}
.space {
  margin: 10px 0;
}
nav .logo.space {
  color: red;
  padding: 0 5px 0 0;
}
@media (max-width: 980px) {
  nav .menu-icon,
  nav .cancel-icon {
    margin: 0 20px;
  }
  nav form {
    right: 30px;
  }
}
@media (max-width: 350px) {
  nav .menu-icon,
  nav .cancel-icon {
    margin: 0 10px;
    font-size: 16px;
  }
}
.content {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}
.content header {
  font-size: 30px;
  font-weight: 700;
}
.content .text {
  font-size: 30px;
  font-weight: 700;
}
.content .space {
  margin: 10px 0;
}