* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffeaed;
}

input[type="text"] {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.logo-div {
  justify-content: center;
  display: flex;
}

.logo {
  width: 300px;
}

.box {
  height: 30px;
  margin-left: 20px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background-color: white;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.box:hover input {
  width: 400px;
}

.box input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}

.box a .fa-solid {
  color: #e363aa;
  font-size: 24px;
}
