@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700;900&family=Raleway:wght@100;300;500;700&display=swap");

:root {
  --bodyBack: #ffeaed !important;
  --textColor: #1b2741 !important;
  --starColor: #f67034 !important;
  --sectionBack: #f7f6f9 !important;
}
* {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  font-family: "Raleway", sans-serif !important;
}
body {
  background-color: var(--bodyBack) !important;
  min-height: 100vh !important;
  display: grid !important;
  place-content: center !important;
}

.result-text{
  font-size: 1.6rem;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

.cus-container1 {
  width: 80vw !important;
  height: auto !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-around !important;
}

.container{
  width: 1050px !important;
  margin: auto 89.4px auto 89.4px !important;
}

.cus-col {
  justify-content: center;
  display: flex;
}

.cus-col2 {
  justify-content: left;
  display: flex;
}

.cus-col3 {
  justify-self: right !important;
  display: flex !important;
}

.header {
  width: 100% !important;
  text-align: center !important;
}
.header h1 {
  font-size: 4em !important;
  text-transform: uppercase !important;
  color: var(--textColor) !important;
}

.dropdown-item {
  border-color: black;
  border-radius: 5%;
}

.dropdown-item:hover {
  font-weight: 900;
  background-color: transparent;
}

.products {
  width: 100% !important;
  height: auto !important;
  align-self: center !important;
  display: flex !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
  gap: 40px !important;
}
.product {
  position: relative !important;
  background-color: var(--sectionBack) !important;
  width: 350px !important;
  height: 100% !important;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3) !important;
  display: flex !important; 
  flex-direction: column !important;
  justify-content: space-between !important;
  padding: 20px 20px 40px !important;
  border-radius: 10px !important;
  transition: 0.3s !important;
}
.product:hover {
  transform: translateY(-15px) !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
}
.image {
  width: 100% !important;
  height: 80% !important;
  display: grid !important;
  place-content: center !important;
  justify-content: center !important;
  display: flex !important;
}
.image img {
  max-width: 100% !important;
  max-height: 100% !important;
}
.namePrice {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
  margin-top: 10px !important;
}
.namePrice h3 {
  font-size: 1.2em !important;
  text-transform: capitalize !important;
  color: var(--textColor) !important;
}
.namePrice span {
  margin-left: 5px !important;
  padding-bottom: 30px !important;
  font-size: 1.5em !important;
  color: var(--starColor) !important;
}
.product p {
  font-size: 18px !important;
  line-height: 25px !important;
} 
.stars svg {
  font-size: 1.3em !important;
  color: var(--starColor) !important;
}
.bay {
  position: absolute !important;
  bottom: 20px !important;
  right: 20px !important;
  max-width: 84.6px !important;
  max-height: 46.4px !important;
}
.bay button {
  padding: 10px 20px !important;
  border-radius: 7px !important;
  border: none !important;
  background-color: var(--textColor) !important;
  color: var(--sectionBack) !important;
  font-size: 18px !important;
  text-transform: capitalize !important;
  cursor: pointer !important;
  transition: 0.5s !important;
}
.bay button:hover {
  transform: scale(1.1) !important;
}

.pagination {
  width: auto;
  height: auto;
  font-size: larger;
}

nav{
  background: #171c24;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}
nav .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #ff3d00;
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: #e63600;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
}
nav .logo.space{
  color: red;
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.content .space{
  margin: 10px 0;
}
