{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <link href="{% static 'img/favicon.ico' %}" rel="icon" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
</head>
  <body>
    <nav>
        <div class="menu-icon">
            <span class="fas fa-bars" style="color: black"></span>
        </div>
        <div class="logo">
            <a href="/"
            ><img
            src="{% static 'img\logo-no-background.svg' %}"
            style="height: 70px"
            /></a>
        </div>
        <div class="nav-items">
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="mailto:kaniarajveer02@gmail.com">Contact</a></li>
            <li><a href="mailto:kaniarajveer02@gmail.com">Feedback</a></li>
        </div>
        <div class="search-icon">
          <span class="fas fa-search" style="color: black"></span>
        </div>
        <div class="cancel-icon" style="color: black">
          <span class="fas fa-times" style="color: black"></span>
        </div>
        <form method="get" action="result.html">
          <input
            type="text"
            class="search-data"
            placeholder="Search..."
            required
            name="q"
            autocomplete="off"
          />
        </form>
    </nav>

    <div class="heading">
      <h1>About Us</h1>
      </div>
    <div class = "about-us">
      <div class = "col">
        <p>A web scraper website that compares prices between two of the biggest e-commerce platforms in the world, Amazon and Flipkart, can be an incredibly useful tool for consumers looking to make informed purchasing decisions. By scraping the websites of both platforms and collecting data on pricing and other relevant information, this website can provide users with valuable insights into where they can find the best deals and save money.</p>
      </div>
    </div>
    


    <div class = "heading">
      <h1>Our Team</h1>
    </div>

    <div class = "container">
        <div class = "member-text">
          <h1>Rajveer Kania</h1>
          <p>A skilled team member who played a crucial role in designing both the backend and frontend components, as well as web scraping for a website. He implemented various backend features such as database management, data processing, and API integration, and used his expertise in HTML, CSS, and JavaScript to create a visually appealing and user-friendly interface. Rajveer's technical skills and attention to detail were highly valued by the team, and his contributions were critical to the success of the project.<p>
            
        </div>
        <div class = "member-image">
            <img src = "{% static 'img/rajveer.jpg' %}" class = "member-photo">
        </div>
        <div class = "member-image">
            <img src = "{% static 'img/paraag.jpg' %}" class = "member-photo">
        </div>
        <div class = "member-text">
          <h1>Paraag Sharma</h1>
          <p>An experienced backend developer who played a crucial role in designing the architecture and infrastructure of a website. He also implemented features such as database management, data processing, and API integration. Additionally, Paraag was responsible for web scraping, using his technical skills to create powerful tools that gathered valuable information for the website's users. His dedication and attention to detail were highly valued by the team.<p>
        </div>
    </div>
        

    <footer>
        <div class="footer-content">
          <h3>PriceWise</h3>
          <ul class = "footer-tags">
            <li><a href = "/">Home</a></li>
            <li><a href = "">Contact Us</a></li>
            <li><a href = "">About</a></li>
            <li><a href="mailto:kaniarajveer02@gmail.com">Feedback</a></li>
          </ul>  
          <ul class="socials">
            <li>
              <a href="https://www.twitter.com/" target="_blank"><i
                class="last-icons fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank"><i
                class="last-icons fa-brands fa-instagram"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/" target="_blank"><i
                class="last-icons fa-brands fa-linkedin"></i></a>
            </li>
            <li>
              <a href="mailto:kaniarajveer02@gmail.com"><i class="last-icons fa-solid fa-envelope"></i></a>
            </li>
          </ul>
          <p style = "justify-content: left; color: #8f8f8f;">Copyright &copy; <a href="/">Pricewise</a></p>
        </div>
        </div>
    </footer>
    <script src = "{% static 'js/index.js' %}" ></script>
    <script>
      const menuBtn = document.querySelector(".menu-icon span");
      const searchBtn = document.querySelector(".search-icon");
      const cancelBtn = document.querySelector(".cancel-icon");
      const items = document.querySelector(".nav-items");
      const form = document.querySelector("form");
      menuBtn.onclick = () => {
        items.classList.add("active");
        menuBtn.classList.add("hide");
        searchBtn.classList.add("hide");
        cancelBtn.classList.add("show");
      };
      cancelBtn.onclick = () => {
        items.classList.remove("active");
        menuBtn.classList.remove("hide");
        searchBtn.classList.remove("hide");
        cancelBtn.classList.remove("show");
        form.classList.remove("active");
        cancelBtn.style.color = "#ff3d00";
      };
      searchBtn.onclick = () => {
        form.classList.add("active");
        searchBtn.classList.add("hide");
        cancelBtn.classList.add("show");
      };
    </script>
    <script>
      // Get the user's last selection from local storage
      var lastSelection = localStorage.getItem('lastSelection');
  
      // Set the default selection to "Relevance" if no previous selection is found
      var defaultSelection = lastSelection || "?q={{ query }}&s=relevanceblender";
  
      // Set the selected attribute on the default option
      var select = document.querySelector('select');
      var options = select.options;
      for (var i = 0; i < options.length; i++) {
          if (options[i].value === defaultSelection) {
              options[i].selected = true;
              break;
          }
      }
  
      // Update local storage when the user makes a new selection
      select.addEventListener('change', function() {
          localStorage.setItem('lastSelection', this.value);
      });
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </body>
</html>
